<section>
    <h2>Create New Profile</h2>

    <form class="new-plant-form">
        <div>
            <label for="profile-name">Plant Name</label>
            <input type="text" id="profile-name" size="60" name="profile-name" />
        </div>
        <div>
            <label for="plant-sun">Recommended Sunlight</label>
            <select class="form-select" id="plant-sun" name="plant-sun">
                <option selected>Choose One</option>
                <option value="Full">Full Sun</option>
                <option value="Partly">Partly Sun</option>
                <option value="Minimum">Minimum Sun</option>
            </select>
        </div>
        <div>
            <label for="plant-water">Recommended Water</label>
            <select class="form-select" id="plant-water" name="plant-water">
                <option selected>Choose One</option>
                <option value="Full">Full Sun</option>
                <option value="Partly">Partly Sun</option>
                <option value="Minimum">Minimum Sun</option>
            </select>
        </div>
        <div>
            <label for="water-date">Last Water Date</label>
            <input type="date" id="water-date" name="water-date">
        </div>
        <div>
            <label for="plant-img">Image</label>
            <input type="file" id="plant-img" name="plant-img">
        </div>
        
        <button type="submit" class="btn">Create Profile</button>
    </form>
</section>

<script src="/js/add-profile.js"></script>